body {
	font-family: 'Playfair Display', serif;
	color: #333;
	background-color: #ffffff;
	font-size: 30px;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}
h1 , h2, h3, h4, h5, h6 {
	margin: 0;
}
/* Container */

.container {
	width: 100%;
	max-width: 1060px;
	margin: 0 auto;
	}

/* Header */

.header{
	margin-top: 60px;
    width: 100%;
	top: 0;
	left: 0;
	right: 0;
	color: #777777;
}
.header__inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__logo{
	font-family: 'Inconsolata', monospace;
	text-transform: uppercase;
}

/* Nav */
.nav {
font-size: 14px;
color: #333;
text-transform: uppercase;
}

.nav__link {
	display: inline-block;
	margin-left:100px;  
    color: #333;
    text-decoration: none;
    justify-content: space-between;
}
.title__image{
display: flex;
align-items: center;
padding-top: 70px;
width: 100%;
padding-bottom: 90px;
}

/* introduction */
.introduction__header {
color:#626262;
 font-size: 14px;
}
.introduction__suptitle{
font-family: 'Ubuntu', sans-serif;
	 color:#b4ad9e;
	 text-transform: uppercase;
	 padding-bottom: 25px;
}
.introduction__title{
font-size: 30px;
padding-bottom: 35px;
}
.introduction__text{
padding-bottom: 50px;
}
.introduction__subtitle{
font-family: 'Ubuntu', sans-serif;
	 color:#b4ad9e;
	 text-transform: uppercase;
	 padding-bottom: 135px;
}

/* Section*/
.section{
	display: flex;
	width: 100%;
	max-width: 1100px;
	margin: 100px auto;	
	flex-direction: row;

	}






